{% extends "layouts/main.html" %}

{% set pageName = "Apply for a quick service" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Apply for a quick service</h1>
    <p class="govuk-body">Use this service to apply for a quick service online.</p>
    <p class="govuk-body">You will need:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>your contact details</li>
      <li>information about your application</li>
    </ul>
    <p class="govuk-body">It takes around <strong>5 minutes</strong> to complete.</p>
    {{ govukButton({
      text: "Start now",
      href: "/applicant-type",
      isStartButton: true
    }) }}
  </div>
</div>
{% endblock %}
